{{ if ne .Paginator.TotalPages 0 }}
    <div class="paginator">
        {{ if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}" class="older">{{ T "older_posts" }}</a>
        {{ else }}
            <a class="older disabled">{{ T "older_posts" }}</a>
        {{ end }}

        {{ if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}" class="newer">{{ T "newer_posts" }}</a>
        {{ else }}
            <a class="newer disabled">{{ T "newer_posts" }}</a>
        {{ end }}
    </div>
{{ end }}
